.userHome{
  margin-top: 50px;
}

.userLinks{
  display: flex;
  justify-content: center;
}

.userLinks a{
  color: black;
  margin-right: 12px;
}
.userLinks a:hover{
  color: blue;
}

hr{ 
  height: 0px !important;
  color: #bbb !important;
  background-color: #bbb !important;
  width: 65%;
}
