.createJump{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  margin-top: 20px;
  margin-bottom: 100px;
}

.input-field{
  width: 800px;
}

#plane {
  transform: rotate(90deg);
  margin-top: 15px;
}

.addButtons{
  display: flex;
  justify-content: center;
}

.addButtons button{
 margin-right: 12px;
}