@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body{
  margin: 0 auto;
}


nav img{
  height: 55px;
}

.navHeader{
  background-image: url('/images/mapPin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
  width: 100%;
  margin-top: -64px;
}

.navOneLiner{
 display: flex;
 justify-content: center;
 padding-top: 250px;
}

.navOneLiner h3{
  font-family: 'Darker Grotesque', sans-serif;
  color: white;
  border-radius: 0px 12px;
  padding: 12px 12px;
  background-color: rgba(255,255,255, 0.3);
  margin-left: 310px;
}