@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body{
  margin: 0 auto;
}


nav img{
  margin-top: 5px;
  height: 70px;
}

ul{
  padding-right: 20px;
}

nav{
  background-image: url('/images/HSJHeader.jpeg');
  height: 80px !important;
}

.btn{
  margin-left: 12px;
}

.userHomePage{
  color: black;
}