#createSkip{
  background-image: url('/images/modalImage.jpeg');
  background-size: cover !important;
  max-height: 90% !important;
  width: 80% !important;
}

#createSkip h3{
   text-align: center;
}

.createSkipContent{
  padding: 106px 230px !important;
}

.addSkip{
  margin-left: 250px;
}

   /* valid color */
   .input-field input[type=text].valid {
    border-bottom: 1px solid purple;
    box-shadow: 0 1px 0 0 purple;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
  }

  .dropdown-content li>span {
    font-size: 16px !important;
    color: black !important;
  }